<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="small-4 column">
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, :class => 'validate[required,minSize[8]]'%>
      </div>
      <div class="field">
        <%= f.label :body %><br>
        <%= f.text_area :body, :class => 'validate[required,minSize[10]]' %>
      </div>
      <div class="actions">
        <%= f.submit 'Aceptar', :class =>'button small round' %>
      </div>
    </div>
  </div>
  
<% end %>
