

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <% if post.body %>
            <a href="#"  data-reveal-id="post-<%= post.id %>">Ver detalles</a>              
            <div id="post-<%= post.id %>" class="reveal-modal" data-reveal>
              <%= post.body %>
              <a class="close-reveal-modal">&#215;</a>
            </div>
          <% end %>
        </td>
        <td><%= User.find(post.user_id).email %></td>
         <% if can? :show, post %>
        <td><%= link_to 'Show', post %></td>
         <% end %>
        <% if can? :edit, post %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <% end %>
        <% if can? :destroy, post %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in?  %>
     <% if can? :create, Post %>
        <%= link_to 'New Post', new_post_path %>
      <% end %>
<% end %>
